<?xml version="1.0"?>

<configuration>
	<configSections>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>

        <!-- Ventaur web security (http-https switching) -->
        <!--<section name="secureWebPages" type="Ventaur.Web.Security.Configuration.SecureWebPageSettings, WebPageSecurity, Version=3.1.3.0, Culture=neutral, PublicKeyToken=ea9c7452937bc694" />-->
        <!-- end Ventaur -->
	
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="HesterConsultants.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
    </configSections>
    <appSettings/>

    <connectionStrings>
        <remove name="LocalSqlServer" />
        <add name="LocalSqlServer" connectionString="Data Source=PARKROAD22\PARKROAD22SQL;Initial Catalog=HcClients;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HesterConsultants.Properties.Settings.ConnString_Visitors"
            connectionString="Data Source=PARKROAD22\PARKROAD22SQL;Initial Catalog=hcvisitors;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>

    <!-- Ventaur
	// deleted

    end Ventaur -->
    
    <system.web>
		<!--debug-->
		<!--<trust level="Medium"/>-->
        <roleManager enabled="true" />
        <membership>
            <providers>
                <add connectionStringName="HesterConsultants.Properties.Settings.ConnString_Clients"
                    enablePasswordRetrieval="false"
                    enablePasswordReset="true"
                    requiresQuestionAndAnswer="true"
                    requiresUniqueEmail="false"
                    passwordFormat="Hashed"
                    maxInvalidPasswordAttempts="5"
                    passwordAttemptWindow="10"
                    name="SqlProvider"
                    type="System.Web.Security.SqlMembershipProvider" />
            </providers>
        </membership>

        <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
        <authentication mode="Forms">
            <forms loginUrl="~/login/" defaultUrl="~/login/Handler.aspx"
                   slidingExpiration="true"><!-- to do: add requireSsl="true" on upload -->
            </forms>
        </authentication>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        -->
		<customErrors mode="RemoteOnly"/>
		<pages>
            <namespaces>
                <add namespace="HesterConsultants.AppCode" />
                <add namespace="HesterConsultants.Properties" />
            </namespaces>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="hc" namespace="HesterConsultants.AppCode" assembly="HesterConsultants" />
                <add tagPrefix="hcc" tagName="ClientControlPanel" src="~/controls/ClientControlPanel.ascx" />
                <add tagPrefix="hcc" tagName="HalfHourDropDown" src="~/controls/HalfHourDropDown.ascx" />
                <add tagPrefix="hca" tagName="AdminControlPanel" src="~/controls/AdminControlPanel.ascx" />
                <add tagPrefix="hcc" tagName="Agreements" src="~/controls/Agreements.ascx" />
                <add tagPrefix="hcc" tagName="AboutThePrincipal" src="~/controls/AboutThePrincipal.ascx" />
                <add tagPrefix="hcc"  tagName="ConversionEditingOptionsHelp" src="~/controls/ConversionEditingOptionsHelp.ascx" />
                <add tagPrefix="hcc" tagName="Privacy" src="~/controls/Privacy.ascx" />
            </controls>
		</pages>
		<httpHandlers>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        </httpModules>
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
		</compilers>
	</system.codedom>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<remove name="ScriptModule"/>
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
            
            <!-- Ventaur -->
            <!--<add name="SecureWebPages" type="Ventaur.Web.Security.SecureWebPageModule, WebPageSecurity, Version=3.1.3.0, Culture=neutral, PublicKeyToken=ea9c7452937bc694" preCondition="managedHandler" />-->
            <!-- end Ventaur -->
            
		</modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<remove name="ScriptHandlerFactory"/>
			<remove name="ScriptHandlerFactoryAppServices"/>
			<remove name="ScriptResource"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</handlers>
		<rewrite>
            <rules>
				<!-- block spam referrers -->
				<rule name="BlockSpamReferrersRegex" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAny">
						<add input="{HTTP_REFERER}" pattern="^https?:\/\/([^.]+\.)*semalt\.com.*$" />
						<add input="{HTTP_REFERER}" pattern="^https?:\/\/([^.]+\.)*buttons-for-website\.com.*$" />
						<add input="{HTTP_REFERER}" pattern="^https?:\/\/([^.]+\.)*savetubevideo\.com.*$" />
						<add input="{HTTP_REFERER}" pattern="^https?:\/\/([^.]+\.)*srecorder\.com.*$" />
						<add input="{HTTP_REFERER}" pattern="^https?:\/\/([^.]+\.)*kambasoft\.com.*$" />
					</conditions>
					<action type="AbortRequest" />
				</rule>
				<!--<rule name="RequestBlockingRuleSpammers" patternSyntax="Wildcard" stopProcessing="true">
					<match url="*" />
					<conditions logicalGrouping="MatchAny">
						<add input="{HTTP_REFERER}" matchType="Pattern" pattern="*semalt.com*" ignoreCase="true" negate="false" />
						<add input="{HTTP_REFERER}" matchType="Pattern" pattern="*buttons-for-website.com*" ignoreCase="true" negate="false" />
					</conditions>
					<action type="AbortRequest" />
				</rule>-->
			</rules>
        </rewrite>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1" appliesTo="v2.0.50727"><dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
		</assemblyBinding></runtime>
 <system.net>
  <mailSettings>
   <smtp from="postmaster@hesterconsultants.com">
       <!-- local only (was mopac) -->
    <network host="relay-hosting.secureserver.net" password="" port="25" userName="" />
       <!-- end local only -->
   </smtp>
  </mailSettings>
 </system.net>
 <applicationSettings>
  <HesterConsultants.Properties.Settings>
   <setting name="JobStatusCompletedId" serializeAs="String">
    <value>6</value>
   </setting>
   <setting name="JobStatusCanceledId" serializeAs="String">
    <value>7</value>
   </setting>
   <setting name="JobStatusDeclinedId" serializeAs="String">
    <value>8</value>
   </setting>
   <setting name="JobTypeOtherId" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="JobStatusSubmittedId" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="JobStatusInProgressId" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="JobFilesRoot" serializeAs="String">
    <value>/admin/uploads/jobs</value>
   </setting>
   <setting name="SmtpHost" serializeAs="String">
    <value>relay-hosting.secureserver.net</value>
   </setting>
   <setting name="CompanyDomain" serializeAs="String">
    <value>hesterconsultants.com</value>
   </setting>
   <setting name="CompanyUrlShort" serializeAs="String">
    <value>www.hesterconsultants.com</value>
   </setting>
   <setting name="CompanyStartYear" serializeAs="String">
    <value>2010</value>
   </setting>
   <setting name="SiteCookieName" serializeAs="String">
    <value>hcv2</value>
   </setting>
   <setting name="VisitorCookieName" serializeAs="String">
    <value>vid</value>
   </setting>
   <setting name="ClientLoginUrl" serializeAs="String">
    <value>/login/</value>
   </setting>
   <setting name="ClientHomeUrl" serializeAs="String">
    <value>/clients/Home.aspx</value>
   </setting>
   <setting name="ClientAccountUrl" serializeAs="String">
    <value>/clients/Account.aspx</value>
   </setting>
   <setting name="AdminHomeUrl" serializeAs="String">
    <value>/admin/</value>
   </setting>
   <setting name="EmployeeHomeUrl" serializeAs="String">
    <value>/employees/</value>
   </setting>
   <setting name="LocalServerNames" serializeAs="String">
    <value>mopac,rr2222</value>
   </setting>
   <setting name="CustomerServiceEmail" serializeAs="String">
    <value>postmaster@hesterconsultants.com</value>
   </setting>
   <setting name="CompanyTimeZoneId" serializeAs="String">
    <value>Central Standard Time</value>
   </setting>
   <setting name="CompanyPhoneMain" serializeAs="String">
    <value>[phone]</value>
   </setting>
   <setting name="CompanyPhoneTechSupport" serializeAs="String">
    <value>[phone]</value>
   </setting>
   <setting name="DevLanIpAddressLeft" serializeAs="String">
    <value>192.168</value>
   </setting>
   <setting name="DevLocalhostIpAddress" serializeAs="String">
    <value>127.0.0.1</value>
   </setting>
   <setting name="ContactUploadsPath" serializeAs="String">
    <value>/admin/uploads/mail</value>
   </setting>
   <setting name="RoleAdmin" serializeAs="String">
    <value>Admin</value>
   </setting>
   <setting name="RoleEmployee" serializeAs="String">
    <value>Employee</value>
   </setting>
   <setting name="RoleClient" serializeAs="String">
    <value>Client</value>
   </setting>
   <setting name="RoleNewClient" serializeAs="String">
    <value>NewClient</value>
   </setting>
   <setting name="RoleUnauthenticatedClient" serializeAs="String">
    <value>UnauthenticatedClient</value>
   </setting>
   <setting name="FilenameAppendedDigitsMax" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="JobStatusCompletedName" serializeAs="String">
    <value>Completed</value>
   </setting>
   <setting name="RecentJobsNumberOfDays" serializeAs="String">
    <value>7</value>
   </setting>
   <setting name="CompanyContactPhone" serializeAs="String">
    <value>[phone]</value>
   </setting>
   <setting name="CompanyContactTitle" serializeAs="String">
    <value>Principal</value>
   </setting>
   <setting name="CompanyNameDefinedTerm" serializeAs="String">
    <value>Hester</value>
   </setting>
   <setting name="CompanyContactTextEmail" serializeAs="String">
    <value>[text]</value>
   </setting>
   <setting name="CompanyContactName" serializeAs="String">
    <value>Ken Hester</value>
   </setting>
   <setting name="CompanyContactEmail" serializeAs="String">
    <value>ken.hester@hesterconsultants.com</value>
   </setting>
   <setting name="CompanyUrlFull" serializeAs="String">
    <value>http://www.hesterconsultants.com</value>
   </setting>
   <setting name="UseDumbOutlookFormatting" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DefaultEmailFontList" serializeAs="String">
    <value>Calibri, Arial, Sans-Serif</value>
   </setting>
   <setting name="EmailUser" serializeAs="String">
    <value />
   </setting>
   <setting name="EmailPw" serializeAs="String">
    <value />
   </setting>
   <setting name="RoleMustChangePassword" serializeAs="String">
    <value>MustChangePassword</value>
   </setting>
   <setting name="JobSearchStopWordList" serializeAs="String">
    <value>am, an, and, as, at, be, by, can, co, do, for, he, if, in, is, it, me, my, no, not, of, on, or, please, re, she, so, thank, thanks, the, that, this, us, we, you, what, who, why</value>
   </setting>
   <setting name="ChangePasswordUrl" serializeAs="String">
    <value>/clients/ChangePassword.aspx</value>
   </setting>
   <setting name="JobStatusInReviewId" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="JobStatusQueuedId" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="JobStatusPendingApprovalId" serializeAs="String">
    <value>4</value>
   </setting>
   <setting name="JobTypeDevelopmentId" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="JobTypeConsultingId" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="JobTypeConversionId" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="JobTypeEditingId" serializeAs="String">
    <value>4</value>
   </setting>
   <setting name="CompanyName" serializeAs="String">
    <value>Hester Consultants LLC</value>
   </setting>
   <setting name="CompanyNameShort" serializeAs="String">
    <value>Hester Consultants</value>
   </setting>
   <setting name="ClientProfileUrl" serializeAs="String">
    <value>/clients/Profile.aspx</value>
   </setting>
   <setting name="ClientJobSearchUrl" serializeAs="String">
    <value>/clients/JobSearch.aspx</value>
   </setting>
   <setting name="NewJobUrl" serializeAs="String">
    <value>/clients/NewJob.aspx</value>
   </setting>
   <setting name="LogoutUrl" serializeAs="String">
    <value>/clients/Logout.aspx</value>
   </setting>
   <setting name="ContactUrl" serializeAs="String">
    <value>/contact/</value>
   </setting>
   <setting name="AboutUrl" serializeAs="String">
    <value>/about/</value>
   </setting>
   <setting name="AdminReportsUrl" serializeAs="String">
    <value>/admin/reports/</value>
   </setting>
   <setting name="DemosUrl" serializeAs="String">
    <value>/demos/</value>
   </setting>
   <setting name="ServicesUrl" serializeAs="String">
    <value>/services/</value>
   </setting>
   <setting name="CurrentInvoiceNumberOfDays" serializeAs="String">
    <value>30</value>
   </setting>
   <setting name="AdminJobSearchUrl" serializeAs="String">
    <value>/employees/JobSearchAdmin.aspx</value>
   </setting>
   <setting name="TrashFolder" serializeAs="String">
    <value>/admin/uploads/trash</value>
   </setting>
   <setting name="EmailStyleTag" serializeAs="String">
    <value>&lt;style type="text/css"&gt; *, div, p, li, td, a, span {font-family: Calibri, Arial, Helvetica, sans-serif; font-size: 14px;} body {margin: 5px;} div {margin-bottom: 10px;} p {margin-bottom: 10px;} a {color: #0080ff;} a:hover {color: #f37d01;} &lt;/style&gt;</value>
   </setting>
   <setting name="SearchHighlightHtmlTag" serializeAs="String">
    <value>span style="font-weight: bold;"</value>
   </setting>
   <setting name="CompanySlogan" serializeAs="String">
    <value>Secure Online Legal Support</value>
   </setting>
   <setting name="DefaultAddressId" serializeAs="String">
    <value>7</value>
   </setting>
   <setting name="DefaultCompanyId" serializeAs="String">
    <value>1232</value>
   </setting>
   <setting name="SplashCookieName" serializeAs="String">
    <value>lastSplashDate</value>
   </setting>
   <setting name="DefaultClientId" serializeAs="String">
    <value>1087</value>
   </setting>
   <setting name="DevIspIpAddress" serializeAs="String">
    <value>//</value>
   </setting>
   <setting name="CompanyAddress" serializeAs="String">
    <value>Austin, Texas</value>
   </setting>
   <setting name="DevIpAddressDebugger" serializeAs="String">
    <value>::1</value>
   </setting>
   <setting name="ReferrerIgnoreRegexs" serializeAs="String">
    <value>^https?:\/\/([^.]+\.)*semalt\.com.*$|^https?:\/\/([^.]+\.)*buttons-for-.*\.com.*$|^https?:\/\/.+makemoneyonline\.com.*$|^https?:\/\/([^.]+\.)*savetubevideo\.com.*$|^https?:\/\/([^.]+\.)*srecorder\.com.*$|^https?:\/\/([^.]+\.)*kambasoft\.com.*$|^https?:\/\/([^.]+\.)*best-seo-.*\.com.*$</value>
   </setting>
  </HesterConsultants.Properties.Settings>
 </applicationSettings>
</configuration>
